@charset "utf-8";
span.icon { float:left;padding-right:4px; margin-top:-2px;}
.roll_latest { float:left; }

.iw-roll-latest ul, .iw-roll-latest li, .iw-roll-latest .notice-ul, .iw-roll-latest dd, .iw-roll-latest dl {list-style:none;padding:0;margin:0;vertical-align: baseline;border: 0;background: transparent;}
.iw-roll-latest .t_indent {text-indent: -10000em !important;display: inline-block;}
.iw-roll-latest {clear:both;position:relative;padding:0; margin-top:2px;}
.iw-roll-latest:after {display:block;visibility:hidden;clear:both;content:""}
.iw-roll-latest .notice, 
.iw-roll-latest .notice .notice-wrap, 
.iw-roll-latest .notice dd {float:left;margin-right: 8px;}
.iw-roll-latest .notice {display:inline;padding:0;width:100%;height:14px;}
.iw-roll-latest .notice dd.title {}

.iw-roll-latest .notice .notice-wrap {position:relative;width:370px;height:14px;overflow:hidden;}
.iw-roll-latest .notice .notice-ul {position:absolute; top:0px;}
.iw-roll-latest .notice .notice-ul li {color:#666;line-height:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:14px;padding-right:10px;}
.iw-roll-latest .notice .notice-ul li a { font-size:11px;color:#eee; }
.iw-roll-latest .notice .notice-ul span { font-size:11px; color:#eee;}