@charset "utf-8";

/* best-post-addon */
.lt_full { position:relative; float:left; padding-bottom:10px; width:100%; height:150px; }
.lt { position:relative; float:left; padding-bottom:10px; width:50%; }
.lt ul { margin:0 0 0 0; padding:0; list-style:none }
.lt li { padding:5px }
.lt li a {color:#eee;}
.cnt_cmt{ float:right; color:crimson;}
.tabs.div-tab-box ul.nav-tabs li a{background:#1a1a1a;color:#a4a4a4; border:1px solid #333 !important;}
.tabs.div-tab-box ul.nav-tabs li.active a { background:	#1699F4; color:#eee; border:1px solid #007db4; border-collapse:collapse; }
.tab-content { border-left:1px solid #333; border-right:1px solid #333; border-bottom:1px solid #333;background:#1a1a1a; border-collapse:collapse; padding:5px 10px 20px 10px; overflow:hidden; }