@charset "utf-8";

.iw-post-list .post-none { padding:35px 10px; text-align:center; color:#a4a4a4; }
.iw-post-list .ellipsis a{color:#eee;}
.iw-post-list .ellipsis a:hover{color:#E91B20;}
.iw-post-list .wr-text { font-size:11px; letter-spacing:-1px; line-height:11px; font-weight:normal; }
.iw-post-list .wr-icon { display:inline-block; padding:0px; margin:0px; line-height:12px; vertical-align:middle; background-repeat: no-repeat; background-position: 0px 0px; }
.iw-post-list .wr-new { width:12px; height:12px; background-image: url('./img/icon_new.gif'); }
.iw-post-list .wr-secret { width:12px; height:12px; background-image: url('./img/icon_secret.gif'); }
.iw-post-list .wr-video { width:12px; height:12px; background-image: url('./img/icon_video.gif'); }
.iw-post-list .wr-image { width:12px; height:12px; background-image: url('./img/icon_image.gif'); }
.iw-post-list .wr-file { width:12px; height:12px; background-image: url('./img/icon_file.gif'); }
