.detail-category {
	margin-bottom: 5px;
}
.cTab {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    zoom: 1;
    border: 0
}

.cTab:after {
    content: "";
    display: block;
    clear: both
}

.cTab li {
	  background:#262626;
    float: left;
    margin: 0 2px 0 0;
    border: 1px solid #333333;
    border-top: 0;
}

.cTab li a {
    position: relative;
    border-top: 1px solid #333333;
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    font-size: 14px;
    text-decoration: none;
    color: #a4a4a4;
    box-sizing: border-box;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.cTab li em {
    font: 11px Tahoma, Geneva, sans-serif;
    color: #767676;
    padding: 0 0 0 2px
}

.cTab li.on a, .cTab li:hover a {
    color: #eeeeee;
    border-top: 2px solid #E91B23
}

.cTab ul {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    margin: 0;
    padding: 0
}

.cTab li.on ul {
    display: block;
    overflow: hidden;
    white-space: nowrap
}

.cTab li.on ul li {
    position: relative;
    left: 1px;
    float: none;
    display: inline;
    margin: 0;
    padding: 0 15px;
    list-style: none;
    border: 0;
    border-right: 1px solid #d0d0d0
}

.cTab li.on ul li a {
    border: 0;
    top: 0;
    float: none;
    line-height: none;
    padding: 0;
    font-weight: 400
}

.cTab li.on ul li.on_ a {
    font-weight: 700;
    color: #3912b3
}

.detail-category2 {
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 5px;
	background: #fff;
}
.cTab2 {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    zoom: 1;
    border: 0
}

.cTab2:after {
    content: "";
    display: block;
    clear: both
}

.cTab2 li {
    float: left;
    margin: 0 2px 0 0;
    border: 1px solid #e0e0e0;
    border-top: 0;
    border-bottom: 1;
    width:162px;
}

.cTab2 li a {
    position: relative;
    border-top: 1px solid #e0e0e0;
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    font-size: 11px;
    font-family: 나눔고딕, NanumGothic, "맑은 고딕", MalgunGhotic, sans-serif;
    text-decoration: none;
    color: #666;
    width:100%;
    box-sizing: border-box;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.cTab2 li em {
    font: 11px Tahoma, Geneva, sans-serif;
    color: #767676;
    padding: 0 0 0 2px
}

.cTab2 li.on a, .cTab2 li:hover a {
    color: #000;
    border-top: 2px solid #E91B23
}

.cTab2 ul {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    margin: 0;
    padding: 0
}

.cTab2 li.on ul {
    display: block;
    overflow: hidden;
    white-space: nowrap
}

.cTab2 li.on ul li {
    position: relative;
    left: 1px;
    float: none;
    display: inline;
    margin: 0;
    padding: 0 15px;
    list-style: none;
    border: 0;
    border-right: 1px solid #d0d0d0
}

.cTab2 li.on ul li a {
    border: 0;
    top: 0;
    float: none;
    line-height: none;
    padding: 0;
    font-weight: 400
}

.cTab2 li.on ul li.on_ a {
    font-weight: 700;
    color: #3912b3
}