#leftDataTop { width:100%; overflow:hidden; z-index:999; border:1px solid #333333; }
#leftDataTop h2 { width:100%; height:50px; line-height:50px; background:#1a1a1a; color:#eee; padding-left:20px;font-size:14px; margin:0; border-bottom:1px solid #333333; }
#leftDataTop h2 img { top:4px; position:relative; }
#leftDataTop ul { width:100%; height:75px; line-height:60px; overflow:hidden; position:relative; text-align:center; display: flex; justify-content: center; border-right:1px solid #000; border-left:1px solid #000; margin:0; background:#1a1a1a; }
#leftDataTop ul li { display:inline; }
#leftDataTop ul li.prev { width:25px; margin-left:-40px; }
#leftDataTop ul li.next { width:25px; }
#leftDataTop ul li a { display:inline-block; height:55px; line-height:55px; font-weight:bold; font-size:12px; }
#leftDataTop ul li a:link,
#leftDataTop ul li a:visited { color:#88a1b9; }
#leftDataTop ul li a:hover { color:#fff; }
#leftDataTop ul li a.on { color:#fff; text-decoration:underline; }
#leftDataTop ul li .btn_opct { top: 0px; position: relative; }

#leftDataTop dl { width:100%; border:1px solid #333333; margin:0; }
#leftDataTop dl dt{background:#f9f9f9; padding:10px; text-align:left; overflow:hidden;}
#leftDataTop dl dt a{display:inline-block; padding:4px; font-size:12px;}
#leftDataTop dl dt a:link,
#leftDataTop dl dt a:visitied{color:#666;}
#leftDataTop dl dt a:hover{color:#000;}
#leftDataTop dl dt a.on{color:#2d94fb; text-decoration:underline; font-weight:bold;}
#leftDataTop dl dd {width:100%; overflow:hidden;}
#leftDataTop dl dd table { width:100%; background:#262626; }
#leftDataTop dl dd table thead th{height:33px; line-height:34px; text-align:center; font-weight:normal; color:#a4a4a4;  background:#1a1a1a; border-bottom:1px solid #333333; font-size:12px; font-weight:bold;}
#leftDataTop dl dd table tbody th{color:#eee; text-align:center !important; font-size:10px; }
#leftDataTop dl dd table tbody tr.first th{color:#FA3E3E;}

#leftDataTop dl dd table tbody td{height:30px; text-align:center; color:#eee; font-size:12px;}
#leftDataTop dl dd table tbody tr.first td{color:#fff;}
#leftDataTop dl dd table tbody tr:hover{background:#1a1a1a;}
#leftDataTop dl dd table thead tr th:nth-child(2){text-align:left;padding-left:15px;}
#leftDataTop dl dd table tbody tr td:nth-child(2){text-align:left;padding-left:15px;}
#leftDataTop dl dd table tbody td.left{text-align:left;}
#leftDataTop dl dd a.more{height:40px; line-height:40px; display:block; clear:both; text-align:center; color:#000; font-weight:bold;}
#leftDataTop dl dd a:hover.more{color:#2d94fb}

#leftLanking { width:100%; margin-bottom:0px; overflow:hidden; border:1px solid #333333; }
#leftLanking ul li .btn_opct {top: 0px; position: relative; }
#leftLanking h2 { width:100%; height:50px; line-height:50px; background:#1a1a1a; color:#eee; padding-left:20px;font-size:14px; margin:0; border-bottom:1px solid #333333; }
#leftLanking h2 img{top:8px; position:relative;}
#leftLanking h3 { display:none; }
#leftLanking ul{width:100%; height:75px; line-height:54px; overflow:hidden; position:relative; text-align:center; display: flex; justify-content: center; border-right:1px solid #333333;border-left:1px solid #333333; margin:0; background:#1a1a1a; }
#leftLanking ul li{display:inline;}
#leftLanking ul li.prev{width:25px;margin-left:-40px;}
#leftLanking ul li.next{width:25px;}
#leftLanking ul li a {display:inline-block; height:33px; line-height:33px;font-size:12px;}
#leftLanking ul li a:link,
#leftLanking ul li a:visited{color:#88a1b9;}
#leftLanking ul li a:hover{color:#fff;}
#leftLanking ul li a.on{color:#fff; text-decoration:underline;}
#leftLanking dl { width:100%; border:1px solid #333333; margin:0; background:#262626; }
#leftLanking dl dt{background:#1a1a1a; padding:10px; text-align:left; overflow:hidden; border-left: 1px solid #333333;border-right: 1px solid #333333;border-bottom: 1px solid #333333;}
#leftLanking dl dt a{display:inline-block; padding:4px; font-size:12px;color:#eee;}
#leftLanking dl dt a:link,
#leftLanking dl dt a:visitied{color:#666;}
#leftLanking dl dt a:hover{color:#eee;}
#leftLanking dl dt a.on{color:#005DD0;}
#leftLanking dl dd { overflow:hidden; padding:0 10px; }
#leftLanking dl dd table { width:100%; margin-top:5px; }
#leftLanking dl dd table thead th{height:30px; text-align:center; font-weight:normal; color:#a4a4a4; border-bottom:1px solid #a4a4a4; font-size:12px;}

#leftLanking dl dd table thead tr th:nth-child(2){text-align:left;padding-left:10px;}
#leftLanking dl dd table tbody tr td:nth-child(2){text-align:left;padding-left:px;}

#leftLanking dl dd table tbody th{color:#666; text-align:center !important; font-size:10px; }


#leftLanking dl dd table tbody tr.first th{color:#3a6dff;}
#leftLanking dl dd table tbody td{height:30px; line-height:30px; text-align:center; color:#eee; font-size:11px; word-break: break-all;white-space: pre;}
#leftLanking dl dd table tbody tr.first td{font-weight:bold;}
#leftLanking dl dd table tbody tr:hover{background:#1a1a1a;}
#leftLanking dl dd table tbody td.left{text-align:left;}
#leftLanking dl dd table tbody td.left img{margin-right:5px;}
#leftLanking dl dd a.more{height:40px; line-height:40px; display:block; clear:both; text-align:center; color:#000; font-weight:bold;}
#leftLanking dl dd a:hover.more{color:#2d94fb}

#leftLanking dl dd table:nth-child(1) caption {height:30px; line-height:35px;}
#leftLanking dl dd table:not(:nth-child(1)) caption {border-top: 4px solid #E6E6E6; height: 34px; line-height: 39px;}


	